*.pyc
repos/**
test.json
shell.sh
workers.log
api-server.log
celerybeat*
*.log
logs/
test.7z
test/test
nohup.out
docker-compose-prom.yaml
docker-compose.yaml
docker/prom/docker-compose.yaml
.vscode*
libs/*
!libs/dummy
!test-api/*
app/*
integration_local.py
*.key
__pycache__
access/certs/*
.env
.pytest_cache/**
.idea/
venv/
/test_*